pcs_template=muti.pcs.template
OCF_ROOT=/usr/lib/ocf
RESOURCE_LIST="msPostgresql vip-master vip-slave"
pha4pgsql_dir=/opt/pha4pgsql
writer_vip=192.168.0.236
reader_vip=192.168.0.237
node1=node1
node2=node2
node3=node3
othernodes=""
vip_nic=eno16777736
vip_cidr_netmask=24
pgsql_pgctl=/usr/bin/pg_ctl
pgsql_psql=/usr/bin/psql
pgsql_pgdata=/data/postgresql/data
pgsql_pgport=5432
pgsql_restore_command=""
pgsql_rep_mode=sync
pgsql_repuser=replication
pgsql_reppassord=replication